#sidebar-items{
    padding-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

.sidebar-link{
    color: black;
}

.sidebar-link:hover{
    color: blue;
}

i.material-icons {
    color: #444;
}

.sideBtn{
    margin-top: 20px;
    margin-left: -220px;
}