.formTitle {
    font: white;
}

#searchBtn{
    margin-left: 20px;
}


.row .col.s1 {
    width: 9.33%;
}

@media only screen and (min-width: 601px) {
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 77px;
}
}

element.style {
    top: 100px;
}
/* 
.navbox {
    display: inline-block;
} */